* {
  user-select: none;
}

*::selection {
  background: none;
}

*::-moz-selection {
  background: none;
}

.paralelografo{
  clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);
}
.paralelografo-inverso{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

.right-arrow{
  clip-path: polygon(85% 0, 100% 50%, 85% 99%, 0% 100%, 15% 50%, 0% 0%);
}
.trapecio{
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}
.right-point{
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}
.right-chevron{
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
}
@media screen and (max-width: 768px){
  .right-point{
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 0% 100%);
}
.right-chevron{
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);

}
.trapecio{
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
}
.paralelografo{
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
}
.paralelografo-inverso{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

}


h1 {
  font-size: calc(3em + 1vw);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: calc(2em + 1vw);
  text-transform: capitalize;
  font-weight: bold;
  color: var(--main-color);
  line-height: 1.2;

}

h3 {
  font-size: calc(1.8em + 1vw);
  text-transform: capitalize;
  font-weight: 500;
}

h4 {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 500;
}

h5 {
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 500;
}

p {
  line-height: 35px;
}

.gallery-content {
  columns: 5 320px;
}

.gallery-item {
  columns: 5 320px;
}

.gallery-content img {
  margin: 10px;
}

.pswp__img {
  object-fit: cover !important;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: calc(2em + 1vw);
  }

  h4 {
    font-size: calc(1em + 1vw);
  }

}

.content-directorios {
  align-self: center;
}

.bgblockAboutbgImage {
  position: relative;
}

.bgblockAboutbgImage::before {
  content: '';
  position: absolute;
  top: 25px;
  left: -50px;
  background-image: url('../image/casaplano.png');
  background-size: 55%;
  background-position: top left;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

@media screen and (max-width:578px) {
  .bgblockAboutbgImage::before {
    top: -5px;
    left: 0px;
  }
}

/*estilo del contador de info */
.bgCountent,
.bgFormHome {
  position: relative;
  padding: 150px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*bg de contenedor de video*/
.bgCountentVideo {
  position: relative;
  padding: 100px 0 0;
  margin-bottom: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom-left-radius: 100% 80%;
  border-bottom-right-radius: 100% 80%;
}

.bgCountentVideo .info {
  width: 60%;
  margin: 0 auto -80px;
}

.bgCountentVideo .countentVideoInfo {
  position: relative;
  text-align: center;
  color: white;
}

.bgCountent::before,
.bgFormHome::before,
.bgCountentVideo::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.bgCountentVideo::before {
  border-bottom-left-radius: 100% 80%;
  border-bottom-right-radius: 100% 80%;
  background-color: var(--overlay-video-content);
}

.bgCountent::before,
.bgFormHome::before {
  background-color: rgba(0, 0, 0, 0.6);
}



@media screen and (max-width:569px) {
  .bgCountentVideo {
    margin-bottom: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .bgCountentVideo::before {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .bgCountentVideo .info {
    width: 90%;
    margin: 0 auto -30px;
  }
}


/* Menu  */

ul li .menuContent__subMenu {
  display: none;
  background: #fff;
  position: absolute;
  width: 240px;
  z-index: 999;
  text-align: start;
  overflow-y: auto;

}

ul li:hover .menuContent__subMenu {
  display: block;
}

.menuContent__subMenu li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  color: #000;
  padding: 10px 20px;
}

.menuContent__items {
  margin-left: 30px;
  color: #fff;
  transition: all ease-in-out .3s;
}

.menuContent__items:hover {
  color: #fff;

}

a.active li {
  color: var(--main-color);
}

.menuContent__subMenu a.active li {
  color: var(--btn);
}

@media screen and (max-width: 770px) {
  .menuContent__items:hover {
    color: var(--btn);

  }

  a.active li {
    color: var(--btn);
  }
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
.menuContent__subMenuMobil::-webkit-scrollbar,
.menuContent__subMenu::-webkit-scrollbar {
  -webkit-appearance: none;
}

.menuContent__subMenuMobil::-webkit-scrollbar:vertical,
.menuContent__subMenu::-webkit-scrollbar:vertical {
  width: 5px;
}

.menuContent__subMenuMobil::-webkit-scrollbar-button:increment,
.menuContent__subMenuMobil::-webkit-scrollbar-button,
.menuContent__subMenu::-webkit-scrollbar-button:increment,
.menuContent__subMenu::-webkit-scrollbar-button {
  display: none;
}

.menuContent__subMenuMobil::-webkit-scrollbar:horizontal,
.menuContent__subMenu::-webkit-scrollbar:horizontal {
  height: 5px;
}

.menuContent__subMenuMobil::-webkit-scrollbar-thumb,
.menuContent__subMenu::-webkit-scrollbar-thumb {
  background-color: #1d1d1d;
  border-radius: 20px;
  border: 1px solid #1d1d1d;
}

.menuContent__subMenuMobil::-webkit-scrollbar-track,
.menuContent__subMenu::-webkit-scrollbar-track {
  border-radius: 10px;
}

/*mobil menu*/

.mobilMenuHeader {
  position: absolute;
  width: 353px;
  right: 20px;
  top: 10px;
  background: white;
  text-align: start;
  padding: 20px;
  border-radius: 0 0 20px 20px;
}

.menuContent__subItems {
  padding-bottom: 20px;
}

.menuContent__subMenuMobil {
  overflow-y: auto;
  height: 200px;
}


/*gallery mansorry de card de reviews*/
.containerMansorry {
  column-count: 3;
  column-gap: 20px;
}

.cardMansorry {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  break-inside: avoid;
}

@media screen and (max-width: 760px) {
  .containerMansorry {
    column-count: 2;
  }
}

@media screen and (max-width: 560px) {
  .containerMansorry {
    column-count: 1;
    column-gap: 10px;

  }
}


/* estilo de los formulario del reviews */

.inputBox {
  position: relative;
  width: 100%;
}

.inputBox #ReviewTitle,
.inputBox #ReviewBody {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 5px;
  outline: none;
  transition: 0.5s;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  pointer-events: none;
  font-size: 1rem;
  color: rgb(130, 130, 130);
  text-transform: capitalize;
  transition: 0.5s;
}

.inputBox #ReviewBody:valid~span,
.inputBox #ReviewBody:focus~span,
.inputBox #ReviewTitle:valid~span,
.inputBox #ReviewTitle:focus~span {
  color: var(--btn);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.70em;
  font-weight: bold;
  padding: 0 10px;
  /* primer estilo */
  background-color: var(--btn);
  color: white;
  border-radius: 2px;

  /* otro estilo */
  /* background-color: #fff;
  border-left: 1px solid var(--btn);
  border-right: 1px solid var(--btn); */
}

.inputBox #ReviewBody:valid,
.inputBox #ReviewBody:focus,
.inputBox #ReviewTitle:valid,
.inputBox #ReviewTitle:focus {
  border: 1px solid var(--btn);
}

@media screen and (max-width: 560px) {
  .inputBox span {
    font-size: 10px;
  }

  .inputBox #ReviewBody:valid~span,
  .inputBox #ReviewBody:focus~span,
  .inputBox #ReviewTitle:valid~span,
  .inputBox #ReviewTitle:focus~span  {
    font-size: 10px;

  }
}

/* fin estilo de los formulario del reviews */